<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:172px;
	top:56px;
	width:656px;
	height:285px;
	z-index:1;
}
-->
</style>
</head>
<form id="form1" name="form1" method="post" action="/checkpass">
<body>
<div id="Layer1">
  <table width="533" border="0">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
      <td>enter user name </td>
      <td><input type="text" name="un" /></td>
    </tr>
    <tr>
      <td>role </td>
      <td><input type="text" name="ro" /></td>
      <td><label>

      </label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label>
        <input type="submit" name="Submit" value="Submit" />
      </label></td>
      <td>&nbsp;</td>
    </tr>

    <tr>
  </table>
</div>
</body>
</html>
