<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:113px;
	top:92px;
	width:698px;
	height:281px;
	z-index:1;
}
-->
</style>
<div id="Layer1">
<form id="form1" name="form1" method="post" action="/login1">
  <table width="518" border="0">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>username</td>
      <td><label>
        <input type="text" name="un">
      </label></td>
    </tr>
    <tr>
      <td>password</td>
      <td><input type="password" name="pass"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label>
        <input type="submit" name="Submit" value="Submit">
      </label></td>
    </tr>
    <tr>
         <td><a href="forgpass">forgot pass</a></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
