<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:110px;
	top:45px;
	width:988px;
	height:470px;
	z-index:1;
}
-->
</style>
</head>

<body>
<div id="Layer1">
<form method="post" action="ConsumerReg">
  <table width="627" border="0">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Consumer No </td>
      <td><input type="text" name="conno" required/></td>
    </tr>
    <tr>
      <td>Consumer Name </td>
      <td><label>
        <input type="text" name="name" required/>
      </label></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><input type="text" name="add" required/></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><input type="date" name="dob" required/></td>
    </tr>
    <tr>
      <td>Pincode</td>
      <td><input type="number" name="pin" required/></td>
    </tr>
    <tr>
      <td>Area</td>
      <td><input type="text" name="area" required/></td>
    </tr>
    <tr>
      <td>city</td>
      <td><input type="text" name="city" required/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="number" name="phone" required/></td>
    </tr>
    <tr>
      <td>Mobile</td>
      <td><input type="number" name="mobile" required/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="mail" name="mail" required/></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="pass" required/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label>
        <input type="submit" name="Submit" value="Submit" />
      </label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</div>
</body>
</html>
