<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:134px;
	top:82px;
	width:574px;
	height:313px;
	z-index:1;
}
-->
</style>
</head>

<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="waterfailure">
  <table width="462" border="0">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Failure Date </td>
      <td><label>
        <input type="date" name="date" required/>
      </label></td>
    </tr>
    <tr>
      <td>From</td>
      <td><input type="time" name="from" required/></td>
    </tr>
    <tr>
      <td>To</td>
      <td><input type="time" name="to" required/></td>
    </tr>
    <tr>
      <td>Why...?</td>
      <td><label>
        <textarea name="why" required></textarea>
      </label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label></label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="Submit2" value="Submit" /></td>
    </tr>
  </table>
</div>
</body>
</html>
